<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/ManagerAssignTeacher.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>attendance system</h1>
            <h3><Span>Home</Span>&nbsp;|&nbsp;<span>Assign Teacher</span></h3>
        </div>

        <div class="content">
            <button>Assign new teacher</button>

            <h3>List of teacher</h3>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Subject</th>
                        <th>Class</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="footer">
            <p>Mọi góp ý, thắc mắc xin liên hệ:</p>
        </div>

        <div class="assign">
            <h3>Assgin New Teacher</h3>
            <table>
                <thead>
                    <tr>
                        <th>Subject</th>
                        <th>Class</th>
                        <th>Room</th>
                        <th>Teacher</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <select name="" id="">
                                <option value="">SWP</option>
                                <option value="">SWT</option>
                                <option value="">SWR</option>
                            </select>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">SE1</option>
                                <option value="">SE2</option>
                                <option value="">SE3</option>
                                <option value="">SE4</option>
                            </select>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value="">DE111</option>
                                <option value="">DE222</option>
                                <option value="">DE333</option>
                                <option value="">DE444</option>
                            </select>
                        </td>
                        <td>
                            <select name="" id="">
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                                <option value=""></option>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button>Submit</button>
        </div>
    </div>
</body>

</html>
